<div class="stock-detail-panel tab-wrapper">
  <ngb-tabset type="pills" #tasbset="ngbTabset">
    <ngb-tab id="edit" title="Edit">
      <ng-template ngbTabContent>

        <div class="panel-body">
          <div>
            <h4>Scan Details</h4>
            <!-- <p>Form value: {{ scanForm.value | json }}</p>
                  <p>Form status: {{ scanForm.status | json }}</p> -->
          </div>
          <div class="detail-sub-section">
            <form class="form-vertical" name="scanForm" (ngSubmit)="onSubmit(scanForm)" [formGroup]="scanForm" novalidate>
              <fieldset>
                <div class="form-group" *ngIf="mode==='edit'">
                  <label>ID: {{_currentScan.id}}</label>
                </div>
                <div class="form-group">
                  <label for="scanName" class="control-label">Name</label>
                  <i class="fa fa-asterisk indicator-required"></i>
                  <div>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name">
                  </div>
                  <label class="control-error" *ngIf="scanForm.controls['name'].invalid && (scanForm.controls['name'].dirty || scanForm.controls['name'].touched)">Name is required.</label>
                </div>
                <div class="form-group">
                  <label for="scanDescription" class="control-label">Description</label>
                  <div>
                    <textarea rows="2" class="form-control" id="scanDescription" placeholder="Description" formControlName="description"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="feeRate" class="control-label">Watch</label>
                  <i class="fa fa-asterisk indicator-required"></i>
                  <div>
                    <select formControlName="watch" class="form-control" multiple required>
                      <option *ngFor="let watch of watchs" [value]="watch.id">  
                          {{watch.name + ' - ' + watch.description}}
                      </option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Use Rule</label>
                  <div>
                      <label class="radio-inline"><input type="radio" value="true" [checked]="scanForm.value['useRule'] === 'true'"
                                                         formControlName="useRule">Yes</label>

                      <label class="radio-inline"><input type="radio" value="false" [checked]="scanForm.value['useRule'] === 'false'"
                                                         formControlName="useRule">No</label>
                  </div>
              </div>
              <div class="form-group" [hidden]="scanForm.value.useRule !== 'false'">
                <label for="formula" class="control-label">Formula</label>
                <i class="fa fa-asterisk indicator-required"></i>
                <div>
                  <textarea rows="2" class="form-control" id="formula" placeholder="Formula" formControlName="formula"></textarea>
                </div>
              </div>
              <div class="form-group" [hidden]="scanForm.value.useRule !== 'true'">
                <label for="ruleCategory">Rule</label>
                <i class="fa fa-asterisk indicator-required"></i>
                <select class="form-control" id="ruleCategory" formControlName="rule"
                        >
                        <option *ngFor="let r of rules" [ngValue]="r">{{r.name}}</option> 
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Status</label>
                <div>
                  <label class="radio-inline"><input type="radio" value="Active" [checked]="scanForm.value['status'] === 'Active'"
                                                                   formControlName="status">Active</label>
                  <label class="radio-inline"><input type="radio" value="Pending" [checked]="scanForm.value['status'] === 'Pending'"
                                                                   formControlName="status">Pending</label>

                  <label class="radio-inline"><input type="radio" value="Close" [checked]="scanForm.value['status'] === 'Close'"
                                                                    formControlName="status">Close</label>
                </div>
              </div>
                <div class="form-group">
                  <div>
                    <button type="submit" class="btn btn-primary" [disabled]="scanForm.invalid">Submit
                                  </button>
                    <button type="button" class="btn btn-default" (click)="cancelForm()">Cancel
                                  </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>