<div class="stock-detail-panel tab-wrapper">
    <ngb-tabset type="pills" #tasbset="ngbTabset">
      <ngb-tab id="edit" title="Edit">
        <ng-template ngbTabContent>
  
          <div class="panel-body">
            <div>
              <h4>Watch Details</h4>
              <!-- <span mdTooltip="Tooltip! \n 232323">I have a tooltip</span> -->
              <!-- <p>Form value: {{ watchForm.value | json }}</p>
                    <p>Form status: {{ watchForm.status | json }}</p> -->
            </div>
            <div class="detail-sub-section">
              <form class="form-vertical" name="watchForm" (ngSubmit)="onSubmit(watchForm)" [formGroup]="watchForm" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="accountName" class="control-label">Share</label>
                        <i class="fa fa-asterisk indicator-required"></i>
                        <input ngui-auto-complete formControlName="share" [source]="shares" [list-formatter]="autocompleListFormatter" value-property-name="id" [(ngModel)] = "myShare"
                          display-property-name="symbol" accept-user-input="false" (valueChanged)="onShareChanged($event)"
                          (keyup)="onShareKey($event)" class="form-control">
                    </div>
                 
                  <div class="form-group">
                    <div>
                      <button type="submit" class="btn btn-primary" [disabled]="watchForm.invalid">Submit
                                    </button>
                      <button type="button" class="btn btn-default" (click)="cancelForm()">Cancel
                                    </button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>