<div class="stock-detail-panel tab-wrapper">
  <ngb-tabset type="pills" #tasbset="ngbTabset">
    <ngb-tab id="orderForm" title="Order">
      <ng-template ngbTabContent>

        <div class="panel-body">
          <div>
            <h4>New Order</h4>
            <p>Form value: {{ orderForm.value | json }}</p>
            <p>Form status: {{ orderForm.status | json }}</p>
          </div>
          <div class="detail-sub-section">
            <form class="form-vertical" name="orderForm" (ngSubmit)="onSubmit(orderForm)" [formGroup]="orderForm" novalidate>
              <fieldset>
                <div class="form-group" *ngIf="mode==='edit'">
                  <label>ID: {{_currentOrder.id}}</label>
                </div>
                <div class="form-group">
                  <label for="accountName" class="control-label">Share</label>
                  <i class="fa fa-asterisk indicator-required"></i>
                  <input ngui-auto-complete formControlName="share" [source]="shares" [list-formatter]="autocompleListFormatter" value-property-name="id" [(ngModel)] = "myShare"
                    display-property-name="symbol" accept-user-input="false" (valueChanged)="onShareChanged($event)"
                    (keyup)="onShareKey($event)" class="form-control">
                </div>

                <div class="form-group">
                  <label for="tradingDate" class="control-label">Trading Date</label>
                  <i class="fa fa-asterisk indicator-required"></i>
                  <div>
                    <input type="text" class="form-control" id="tradingDate" name="tradingDate" formControlName="tradingDate">
                  </div>
                  <label class="control-error" *ngIf="orderForm.controls['tradingDate'].invalid && (orderForm.controls['tradingDate'].dirty || orderForm.controls['tradingDate'].touched)">Trading date is required.</label>
                </div>
                <div class="form-group" *ngIf="latestTicker">
                  <label class="control-label" style="margin-left:30px">Latest Price: {{latestTicker.close}}</label>
                  <label style="margin-left:30px">Latest TradingDate: {{latestTicker.tradingDate}}</label>
                </div>
                <div class="form-group" *ngIf="nextTicker">
                  <label class="control-label" style="margin-left:30px">
                        <span *ngIf="!openPeeked"><button type="button" class="btn btn-primary" (click)="onPeekOpen()">Peek Next Open
                          </button></span>
                        <span *ngIf="openPeeked">Next open: {{nextTicker.open}} </span>
                      </label>
                  <label style="margin-left:30px">
                          <span *ngIf="!closePeeked"><button type="button" class="btn btn-primary" (click)="onPeekClose()">Peek Next Close
                            </button></span>
                        <span *ngIf="closePeeked">Next Close: {{nextTicker.close}}</span> 
                      </label>
                </div>
                <div class="form-group">
                  <label class="control-label">Direction</label>
                  <div>
                    <label class="radio-inline"><input type="radio" (change)="onDirectionChange($event)" value="Long" [checked]="orderForm.value['direction'] === 'Long'"
                                                             formControlName="direction">Long</label>
                    <label class="radio-inline"><input type="radio" (change)="onDirectionChange($event)" value="Short" [checked]="orderForm.value['direction'] === 'Short'"
                                                              formControlName="direction">Short</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="price" class="control-label">Price</label>
                  <i class="fa fa-asterisk indicator-required"></i>
                  <div>
                    <input type="number" class="form-control" id="price" name="price" formControlName="price" step="0.0001" (change)="onPriceChange($event)"
                    />
                  </div>
                  <label class="control-error" *ngIf="orderForm.controls['price'].invalid && (orderForm.controls['price'].dirty || orderForm.controls['price'].touched)">Price is required.</label>
                </div>
                <div class="form-group">
                  <label for="size" class="control-label">Size</label>
                  <i class="fa fa-asterisk indicator-required"></i>
                  <div>
                    <input type="number" class="form-control" id="size" name="size" formControlName="size" />
                  </div>
                  <label class="control-error" *ngIf="orderForm.controls['size'].invalid && (orderForm.controls['size'].dirty || orderForm.controls['size'].touched)">Size is required.</label>
                </div>

                <div class="form-group" *ngIf="orderType">
                  <label style="margin-left:30px">Order Type: {{orderType}}</label>
                </div>

                <div class="form-group">
                  <label for="stop" class="control-label">Stop</label>
                  <div>
                    <input type="number" class="form-control" id="stop" name="stop" formControlName="stop" step="0.0001" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="limit" class="control-label">Limit</label>
                  <div>
                    <input type="number" class="form-control" id="limit" name="limit" formControlName="limit" step="0.0001"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="reason">Reason</label>
                  <select class="form-control" id="reason" formControlName="reason">
                          <option *ngFor="let r of reasons" [ngValue]="r">{{r}}</option> 
                      </select>
                </div>
                <div class="form-group">
                  <label for="note" class="control-label">Note</label>
                  <div>
                    <textarea rows="2" class="form-control" id="note" formControlName="note"></textarea>
                  </div>
                </div>
                <div class="form-group" *ngIf="mode==='edit'">
                  <label class="control-label">Status</label>
                  <div>
                      <label class="radio-inline"><input type="radio" value="Open" [checked]="orderForm.value['status'] === 'Open'"
                                                         formControlName="status">Open</label>

                      <label class="radio-inline"><input type="radio" value="Withdrawn" [checked]="orderForm.value['status'] === 'Withdrawn'"
                                                         formControlName="status">Withdrawn</label>
                      <label class="radio-inline"><input type="radio" value="Fulfilled" [checked]="orderForm.value['status'] === 'Fulfilled'"
                                                          formControlName="status" [attr.disabled]="true">Fulfilled</label>
                  </div>
                </div>
                <div class="form-group" *ngIf="mode==='edit'">
                  <label>Processed til: {{_currentOrder.processedTradingDate}}</label>
                </div>
                <div class="form-group">
                  <div>
                    <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Submit
                                    </button>
                    <button type="button" class="btn btn-default" (click)="cancelForm()">Cancel
                                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>