<div class="stock-detail-panel tab-wrapper">
    <ngb-tabset type="pills" #tasbset="ngbTabset">
      <ngb-tab id="orderForm" title="Order">
        <ng-template ngbTabContent>
  
          <div class="panel-body">
            <div>
              <h4>New Order</h4>
              <p>Form value: {{ orderForm.value | json }}</p>
                    <p>Form status: {{ orderForm.status | json }}</p>
            </div>
            <div class="detail-sub-section">
              <form class="form-vertical" name="orderForm" (ngSubmit)="onSubmit(orderForm)" [formGroup]="orderForm" novalidate>
                <fieldset>
                  <div class="form-group" *ngIf="mode==='edit'">
                    <label>ID: {{_currentOrder.id}}</label>
                  </div>
                  <!-- <div class="form-group">
                      <label for="account">Account</label>
                      <i class="fa fa-asterisk indicator-required"></i>
                      <select class="form-control" id="account" formControlName="account">
                              <option *ngFor="let a of accounts" [ngValue]="a">{{a.name}}</option> 
                      </select>
                  </div> -->
                  <div class="form-group">
                      <label for="accountName" class="control-label">Share</label>
                      <i class="fa fa-asterisk indicator-required"></i>
                      <input  ngui-auto-complete
                      formControlName="share"
                      [source]="shares"
                      [list-formatter]="autocompleListFormatter"
                      value-property-name="id"
                      display-property-name="symbol"
                      placeholder="Select Share"
                      accept-user-input="false"
                      (valueChanged)="onShareChanged($event)"
                      class="form-control">
                  </div>

                  <div class="form-group">
                    <label for="tradingDate" class="control-label">Trading Date</label>
                    <i class="fa fa-asterisk indicator-required"></i>
                    <div>
                      <input type="text" class="form-control" id="tradingDate" name="tradingDate" placeholder="Trading Date" formControlName="tradingDate">
                    </div>
                    <label class="control-error" *ngIf="orderForm.controls['tradingDate'].invalid && (orderForm.controls['tradingDate'].dirty || orderForm.controls['tradingDate'].touched)">Trading date is required.</label>
                  </div>
                  <!--
                  <div class="form-group">
                    <label for="ruleCategory">Zone</label>
                    <i class="fa fa-asterisk indicator-required"></i>
                    <select class="form-control" id="ruleCategory" formControlName="zone"
                            >
                        <option *ngFor="let z of zones" [ngValue]="z">{{z.name}}</option> 
                    </select>
                </div>
                  <div class="form-group">
                    <label for="ruleCategory">Broker</label>
                    <i class="fa fa-asterisk indicator-required"></i>
                    <select class="form-control" id="ruleCategory" formControlName="broker"
                            >
                            <option *ngFor="let b of brokers" [ngValue]="b">{{b.name}}</option> 
                    </select>
                </div>
                <div class="form-group">
                  <label for="description" class="control-label">Description</label>
                  <div>
                    <textarea rows="2" class="form-control" id="description" placeholder="Description" formControlName="description"></textarea>
                  </div>
                </div>
                  <div class="form-group">
                    <label for="minFee" class="control-label">Fund Amount</label>
                    <i class="fa fa-asterisk indicator-required"></i>
                    <div>
                      <input type="number" class="form-control" id="fundAmount" name="fundAmount" placeholder="Fund Amount" formControlName="fundAmount">
                    </div>
                    <label class="control-error" *ngIf="orderForm.controls['fundAmount'].invalid && (orderForm.controls['fundAmount'].dirty || orderForm.controls['fundAmount'].touched)">Fund Amount is required.</label>
                  </div>
                  <div class="form-group">
                    <div class="checkbox">
                          <input type="checkbox" class="form-control" id="isTrackingAccount" formControlName="isTrackingAccount">Is Tracking Account
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Status</label>
                    <div>
                        <label class="radio-inline"><input type="radio" value="Active" [checked]="orderForm.value['status'] === 'Active'"
                                                           formControlName="status">Active</label>
  
                        <label class="radio-inline"><input type="radio" value="Pending" [checked]="orderForm.value['status'] === 'Pending'"
                                                           formControlName="status">Pending</label>
                        <label class="radio-inline"><input type="radio" value="Close" [checked]="orderForm.value['status'] === 'Close'"
                                                            formControlName="status">Close</label>
                    </div>
                </div>-->
                  <div class="form-group">
                    <div>
                      <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Submit
                                    </button>
                      <button type="button" class="btn btn-default" (click)="cancelForm()">Cancel
                                    </button>
                    </div>
                  </div> 
                </fieldset>
              </form>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>