<div class="stock-detail-panel">
  <ngb-tabset type="pills" #tasbset="ngbTabset">
    <ngb-tab id="edit" title="Edit">
      <ng-template ngbTabContent>

          <div class="panel-body">
              <div>
                  <h4>Rule Details</h4>
                  <p>Form value: {{ ruleForm.value | json }}</p>
                  <p>Form status: {{ ruleForm.status | json }}</p>
              </div>
              <div class="detail-sub-section">
                  <form class="form-vertical" name="ruleForm" [formGroup]="ruleForm" novalidate>
                      <fieldset>
                          <div class="form-group" ng-show="detailMode == 'update'">
                              <label>ID: </label>
                          </div>
                          <div class="form-group">
                              <label for="ruleName" class="control-label">Name</label>
                              <i class="fa fa-asterisk indicator-required"></i>
                              <div>
                                  <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                         formControlName="name">
                              </div>
                              <label class="control-error" *ngIf="ruleForm.controls['name'].invalid && (ruleForm.controls['name'].dirty || ruleForm.controls['name'].touched)">Name is required.</label>
                          </div>
                          <div class="form-group">
                              <label class="control-label">Direction</label>
                              <div>
                                  <label class="radio-inline"><input type="radio" value="long"
                                                                     formControlName="direction"
                                                                     >Long</label>
                                  <label class="radio-inline"><input type="radio" value="short"
                                                                     formControlName="direction"
                                                                     >Short</label>
                              </div>
                          </div>
<!-- 
                          <div class="form-group">
                              <label for="ruleDescription" class="control-label">Description</label>
                              <div>
                                  <textarea rows="2" class="form-control" id="ruleDescription" placeholder="Description"
                                      ng-model="localRule.description"></textarea>
                              </div>
                          </div>
                          <div class="form-group" ng-init="localRule.type='formula'">
                              <label class="control-label">Type</label>
                              <div>
                                  <label class="radio-inline"><input type="radio" ng-value="'formula'"
                                                                     name="ruleType"
                                                                     ng-model="localRule.type">Formula</label>

                                  <label class="radio-inline"><input type="radio" ng-value="'assembly'"
                                                                     name="ruleType"
                                                                     ng-model="localRule.type">Assembly</label>
                              </div>
                          </div>

                          <div class="form-group" ng-show="localRule.type=='formula'">
                              <label for="ruleFormula" class="control-label">Formula</label>
                              <i class="fa fa-asterisk indicator-required"></i>
                              <div>
                                  <textarea rows="2" class="form-control" id="ruleFormula" placeholder="Calculate Formula"
                                            ng-model="localRule.formula" ></textarea>
                              </div>
                          </div>

                          <div class="form-group" ng-show="localRule.type=='assembly'">
                              <label for="ruleCategory">Assembly</label>
                              <i class="fa fa-asterisk indicator-required"></i>
                              <select class="form-control" id="ruleCategory" ng-model="localRule.assembly"
                                      >
                                  <option value="ScanManager_RSI2">RSI2</option>
                                  <option value="ScanManager_MACD_Long">+MACD</option>
                                  <option value="ScanManager_MACD_Short">-MACD</option>
                                  <option value="ScanManager_ADX_Long">+ADX</option>
                                  <option value="ScanManager_ADX_Short">-ADX</option>
                                  <option value="ScanManager_Pullback_Long">+Pullback</option>
                                  <option value="ScanManager_Pullback_Short">-Pullback</option>
                                  <option value="ScanManager_BreakOut_Long">+Breakout</option>
                                  <option value="ScanManager_BreakOut_Short">-Breakout</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="ruleNote" class="control-label">Note</label>
                              <div>
                                  <textarea rows="2" class="form-control" id="ruleNote" placeholder="Description"
                                            ng-model="localRule.note"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="checkbox-inline">
                                  <label>
                                      <input type="checkbox" ng-model="localRule.isSystem">Is System Watch
                                  </label>
                              </div>
                          </div> -->
                          <div class="form-group">
                              <div>
                                  <button type="submit" class="btn btn-primary"
                                          ng-click="submitRule(ruleForm)"
                                          [disabled]="ruleForm.invalid">Submit
                                  </button>
                                  <button type="button" class="btn btn-default"
                                          (click)="cancelForm()">Cancel
                                  </button>
                              </div>
                          </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>