<div class="row">
    <div class="col-sm-2 left-panel">
      <div class="list-group table-of-contents side-bar">
          <a class="list-group-item" [routerLink]="['/analysis/zone']" >Manage Watch List</a>
          <a class="list-group-item" [routerLink]="['/analysis/rule']" >Manage Rule List</a>
          <a class="list-group-item" [routerLink]="['/analysis/rule']" >Alert List</a>
          <a class="list-group-item" [routerLink]="['/analysis/rule']" >Daily Scan</a>
      </div>
    </div>
    <div class="col-sm-10 content-panel">
        <router-outlet></router-outlet>
    </div>
  
  </div>