<div class="tab-content-wrapper">
    <table class="table table-striped table-hover table-detail-view ">
        <!-- <thead>
        <tr>
            <th class="table-detail-key"></th>
            <th class="table-detail-value"></th>
        </tr>
        </thead> -->
        <tbody>
        <tr>
            <td class="table-detail-key">ID</td>
            <td class="table-detail-value">123</td>
        </tr>
        <tr>
            <td>Symbol</td>
            <td></td>
        </tr>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        <tr>
            <td>Sector</td>
            <td></td>
        </tr>
        <tr>
            <td>Industry</td>
            <td></td>
        </tr>
        <tr>
            <td>Type</td>
            <td></td>
        </tr>
        <tr>
            <td>CFD</td>
            <td></td>
        </tr>
        <tr>
            <td>Market Cap(m)</td>
            <td></td>
        </tr>
        <tr>
            <td>Employee Number</td>
            <td></td>
        </tr>
        <tr>
            <td>Company Summary</td>
            <td></td>
        </tr>
        <tr>
            <td>Company Url</td>
            <td><a target="_blank"></a>
            </td>
        </tr>
        <tr>
            <td>Data Start Date</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
