<div class="row">
    <div class="col-sm-12 mid-panel">
      <div class="row">
        <div class="col-lg-8">
          <h1>Search</h1>
        </div>
      </div>
  
      <div class="table-container tab-wrapper">
        <ngb-tabset type="pills" #tasbset="ngbTabset" [justify]="'fill'">
          <ngb-tab id="stock" title="Stock">
            <ng-template ngbTabContent>
              <app-search-panel-stock></app-search-panel-stock>
            </ng-template>
          </ngb-tab>
  
          <ngb-tab id="watch" title="Watch">
            <ng-template ngbTabContent>
                <app-search-panel-watch></app-search-panel-watch>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="scan" title="Scan">
              <ng-template ngbTabContent>
                  <app-search-panel-scan></app-search-panel-scan>
              </ng-template>
          </ngb-tab>
          <ngb-tab id="alert" title="Alert">
              <ng-template ngbTabContent>
                  <app-search-panel-alert></app-search-panel-alert>
              </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>