<!--<nav id="top-nav-bar" class="navbar navbar-default navbar-fixed-top">
  <div style="float:left">
    <div class="navbar-header" style="float:left; margin-right:20px">
      <span class="navbar-brand"><i class="fa fa-lg fa-chain "></i>Screen<span>.2</span></span>
    </div>-->
    <nav id="top-nav-bar" class="navbar navbar-default navbar-fixed-top">
    <div class="top-menu">
      <ul>
        <li class="logo"><span class="navbar-brand" style="display:inline-block"><i class="fa fa-lg fa-chain "></i>Screen<span>.2</span></span></li>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a href="#about">About</a></li>
      </ul>
    </div>
    </nav>
    <!--<div>drop</div>
  </div>-->
  <!--<div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand"><i class="fa fa-lg fa-chain "></i>Screen<span>2</span></span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a>Home</a></li>
            <li><a>Stock</a></li>
            <li><a>Analysis</a></li>
            <li><a>Trade</a></li>
            <li><a>Plan</a></li>
            <li><a>Admin</a></li>
        </ul>
    </div>-->
<!--</nav>-->