$primaryColor: #ebebeb;
$main-background-color: #2b3e50;
$highlight-background-color: #4e5d6c;
$tree-hover-color: #4caf50;
$hover-background-color:  #111;
$active-background-color: #4caf50;

body {
  background: $main-background-color;
  color: $primaryColor;
}

#top-nav-bar {
  background: $highlight-background-color;
  padding: 0px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    .navbar-brand {
      font-size: 1.05em;
      .fa {
        color: red;
        margin-right: 5px;
      }
    }
    li {
      float: left;
      list-style-type: none;
      padding-right: 10px;
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      a:focus,
      a:hover {
        text-decoration: none;
      }
      a:hover:not(.active) {
        background-color: $hover-background-color;
      }
      .active {
        background-color: $active-background-color;
      }
    }
    .logo {
      margin-top: 8px;
      margin-left: 10px;
      font-size: 1.1em;
      font-weight: bolder;
    }
  }
}

#main-panel {
    min-height: 750px;
    padding:0px;
}

.mid-panel {
  margin-top: 20px;

  .chart-switch {
    line-height: 0.85em;
    .price-type {
      label {
        font-size: 0.95em;
      }
      input {
        margin-right: 5px;
      }
      margin-right: 15px;
    }
    i {
      margin: 0 5px 0 5px;
      cursor: pointer;
      span {
        color: $primaryColor;
      }
    }
    span {
      margin: 1px;
      font-size: 0.90em;
    }
    span.selected {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

#chart-container {
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
}
.chart-panel {
  margin-top: 10px;
}

.tab-content-wrapper {
  padding: 20px 10px;

  .table-detail-key {
    width: 30%;
  }
  .table-detail-value {

  }

}
.stock-detail-panel{
  margin-top: 50px;
  margin-right: 10px;
  a.nav-link {
    // background-color: $highlight-background-color;
    color: $primaryColor;
  }

  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: $active-background-color;
  }

  a:hover:not(.active) {
    background-color: $highlight-background-color;
  }

  .tab-pane.active{
    background-color: $highlight-background-color;
    padding: 10px 10px 20px 10px;
  }

  .detail-sub-title {
    // border-bottom: 1px solid whitesmoke;
    padding: 0 0 0 0;
    margin-top: 10px;
    label {
      font-size: 1.2em;
    }
    i {
      margin-top: 10px;
    }
  }
}
.stock-tree-wrapper {
  margin-top: 15px;

  .stock-filter {
    padding: 0.2rem 0.4rem;
    font-size: 0.95rem;
  }

  .tree {
    padding: 3px 5px;
    background-color: #4e5d6c;
    line-height: 1.1;
    font-size: 90%;
    .node-content-wrapper:hover {
      background: $tree-hover-color !important;
    }
    .node-content-wrapper-active, .node-content-wrapper-focused {
      background: darken($tree-hover-color, 10%) !important;
    }
    .node-content-wrapper-active:hover, .node-content-wrapper-focused:hover {
      background: $tree-hover-color !important;
    }
    .tree-node-level-3 .node-content-wrapper{
      margin-left: 6px;
    }
  
    .tree-node-level-3 tree-node-expander ::after{
      content: "\f15c";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: bold;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      color: #fff;
      font-size: 12px;
      padding-right: 0.5em;
      position: absolute;
      left: 0;
    }
  }
}
